
h1{
  text-align: center;
}
h3 {
    margin-left: 10px;
    padding: 0.5%;
}
p{
    margin-left: 25px;
}
button{
  font-size: medium;
  padding:0%;
}

.up, .down{
  margin-right: 1rem;
  float: right;
}
#container{
  padding-top: 2cm;
}

#head{
  margin-top: 10px;
  background: #C0D6DF;
  color: #2A2D34;
  outline: none;
}
#content{
  margin-top: 1rem;
  background: #F0E6EA;
  margin-bottom: 1rem;
  font-size: large;
  padding: 0.5%;
}
