{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" id="container">
    <h1 class="title">Story 7 Aurel</h1>
      <div id="accordion">
        <div class="wrapper">
          <div id="head">
          <h3>about me
            <button class="up"><img src="{% static 'arrow-upp.svg' %}"></button> 
            <button class="down"><img src="{% static 'arrow-down.svg' %}"></button>
          </h3>
          </div>
          <div id="content">
            <p> Hello! My name is Khalishah Aurelia Asbran, and you can call me Aurel. My favorite food is pizza and i love cats.</p>
          </div>
        </div>
        <div class="wrapper">
          <div id="head">
          <h3>activities
            <button class="up"><img src="{% static 'arrow-upp.png' %}"></button> 
            <button class="down"><img src="{% static 'arrow-down.png' %}"></button>
          </h3>
          </div>
          <div id="content">
            <p>Currently i'm studying as an Information Systems Student. Besides that, I am also learning the Korean Language.</p>
          </div>
        </div>
        <div class="wrapper">
          <div id="head">
          <h3>experiences
            <button class="up"><img src="{% static 'arrow-upp.png' %}"></button> 
            <button class="down"><img src="{% static 'arrow-down.png' %}"></button>
          </h3>
          </div>
          <div id="content">
            <p>Some of the experiences I have are as follows:
                <br>1. Staff of Decoration and Consume COMPFEST 12
                <br>2. Staff of Media Partner COMPFEST 12
            </p>
          </div>
        </div>
        <div class="wrapper">
          <div id="head">
          <h3>achievements
            <button class="up"><img src="{% static 'arrow-upp.svg' %}"></button> 
            <button class="down"><img src="{% static 'arrow-down.svg' %}"></button>
          </h3>
          </div>
            <div id="content">
                <p>Some of my achievements are as follows:
                    <br>1. First Place Spelling Bee at SDNP Tunas Global English Festival
                    <br>2. Completed Junior Highschool in 2 years
                    <br>3. Runner Up Vocal Group at a Vocal Group Event</p>        
            </div>
        </div>
      </div>
</div>
{% endblock content %}
    